.objectContain {
    object-fit: contain;
    width: auto;
    height: 200px;
}
.objectContainOne {
  object-fit: contain;
  width: auto;
  height: auto;
}


/* styles/globals.css */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none;    
  }
  